@use "Styles/Variables";

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: Variables.$small-vertical-tablet) {
    column-gap: 1em;
    justify-content: flex-start;
  }
  &>a {
    color: #fff;
    font-size: 0.9em;
    text-decoration: none;
    padding: 0.5em 0.8em;
    border-radius: 2em;
    font-weight: 600;
    @include Variables.center;
    @media (min-width: Variables.$small-vertical-tablet) {
      font-size: 1em;
      padding: 0.6em 1em;
    }
    &:visited {
      color: #fff;
    }
    &.leases-link {
      border: 2px solid var(--leases-theme);
      color: var(--leases-theme);
      &.active {
        color: #fff;
        background: var(--leases-theme);
      }
      &:focus-visible {
        outline: 0.1em solid var(--leases-theme);
      }
    }
    &.amenities-link {
      border: 2px solid var(--amenities-theme);
      color: var(--amenities-theme);
      &.active {
        color: #fff;
        background: var(--amenities-theme);
      }
      &:focus-visible {
        outline: 0.1em solid var(--amenities-theme);
      }
    }
    &.maintenance-link {
      border: 2px solid var(--maintenance-theme);
      color: var(--maintenance-theme);
      &.active {
        color: #fff;
        background: var(--maintenance-theme);
      }
      &:focus-visible {
        outline: 0.1em solid var(--maintenance-theme);
      }
    }
    &.finances-link {
      border: 2px solid var(--finances-theme);
      color: var(--finances-theme);
      &.active {
        color: #fff;
        background: var(--finances-theme);
      }
      &:focus-visible {
        outline: 0.1em solid var(--finances-theme);
      }
    }
  }
}
