@use "Styles/Variables";

.checkbox-group > div > label.checkable {
  &.selected > div > div > svg {
    scale: 1;
  }
  &>div {
    margin-right: 0.75em;
    border-radius: calc(var(--size) / 5);
    padding: 2px;
    @include Variables.themeGradient;
    &>div {
      height: 100%;
      width: 100%;
      @include Variables.center;
      border-radius: calc(var(--size) / 7);
      background-color: var(--background);
      position: relative;
      &>svg {
        overflow: visible;
        width: calc(var(--size) * 0.7);
        height: calc(var(--size) * 0.7);
        scale: 0;
        stroke: url(#themeGradient);
        transition-duration: 0.3s;
        & path {
          stroke-width: 2.5;
        }
      }
    }
  }
}