@use "Styles/Variables";

.time-picker {
  --font-size: 1em;
  --multiplier: 3;
  --background-color: var(--background-dark);
  --slot-height: calc(var(--font-size) * var(--multiplier));
  width: auto;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0 0.5em;
  font-size: var(--font-size);
  background-color: var(--background-color);
  &>.colon {
    height: var(--slot-height);
    width: auto;
    @include Variables.center;
  }
}