@use "Styles/Variables";

.expenses {
  margin: 3em 0.9em 0 0.9em;
  &>.title {
    margin-bottom: 1em;
    &>.title-text {
      font-weight: 600;
      font-size: 1.1em;
      margin-bottom: 0.25em;
    }
    &>.sub-text {
      font-weight: 500;
      font-size: 0.9em;
      color: var(--text-color-light);
      &>strong {
        @include Variables.successGradient;
        @include Variables.clipText;
      }
    }
  }
  &>.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
    margin-bottom: 1em;
  }
}