label.input.time {
  &.focused > .input-positioner > input {
    &::-webkit-datetime-edit-hour-field,
    &::-webkit-datetime-edit-minute-field,
    &::-webkit-datetime-edit-ampm-field {
      color: var(--text-color);
    }
  }
  &.valid > .input-positioner > input {
    &::-webkit-datetime-edit-hour-field,
    &::-webkit-datetime-edit-minute-field,
    &::-webkit-datetime-edit-ampm-field {
      color: var(--text-color);
    }
  }
  &>.input-positioner > input {
    &::-webkit-calendar-picker-indicator {
     display: none;
    }
    &::-webkit-date-and-time-value {
      text-align: left;
    }
    &::-webkit-datetime-edit-hour-field,
    &::-webkit-datetime-edit-minute-field,
    &::-webkit-datetime-edit-ampm-field {
      color: transparent;
    }
  }
}