@use "Styles/Variables";

.forgot-password {
  border: none;
  background-color: transparent;
  font-size: 0.9em;
  margin-top: -1em;
  align-self: flex-end;
  border-radius: 0.25em;
  @include Variables.gradientText;
  @media (min-width: Variables.$small-vertical-tablet) {
    font-size: 1em;
  }
}