@use "Styles/Variables";

.page.page-loader {
  &>.title-area .triangle-loader {
    scale: 0.75;
    --path: url(#themeGradient);
    --dot: linear-gradient(to right, var(--theme-light), var(--theme-dark));
    --duration: 2s;
    filter: drop-shadow(0em 0.1em 0.25em var(--theme-mid));
  }
}