@use "Styles/Variables";

.core {
  width: 100%;
  animation: show 0.5s forwards;
  padding-top: calc(Variables.$nav-height-small + 2.5em);
  padding-left: var(--core-padding);
  padding-right: var(--core-padding);
  padding-bottom: 5em;
  min-height: 100vh;
  @media (min-width: Variables.$small-vertical-tablet) {
    padding-top: calc(Variables.$nav-height-mid + 2.5em);
  }
  @media (min-width: Variables.$large-vertical-tablet) {
    padding-top: calc(Variables.$nav-height-large + 2.5em);
  }
  @media (min-width: Variables.$small-desktop) {
    padding-top: var(--core-padding);
    margin-left: Variables.$nav-width-large;
    width: calc(100% - Variables.$nav-width-large);
  }
}