@use "Styles/Variables";

.property-link.skeleton {
  &>.image-placeholder {
    @include Variables.skeleton;
  }
  & .skeleton-text {
    color: transparent;
    line-height: 1;
    border-radius: 0.25em;
    @include Variables.skeleton;
  }
  & h3.skeleton-text {
    margin: 0;
    padding: 0.05em 0;
    margin-bottom: 0.25em;
  }
  &>.pl-info {
    &>address {
      margin: 0.6em 0 0.3em;
      @media (min-width: Variables.$small-vertical-tablet) {
        margin: 0;
      }
      &>p,
      &>p>span {
        margin: 0;
      }
      &>p {
        margin-bottom: 0.5em;
        &.skeleton-text {
          width: 60%;
          &:nth-of-type(2) {
            width: 40%;
          } 
        }
        &:has(span) {
          gap: 0.35em;
          display: inline-flex;
          margin: 0;
        }
      }
      & span.skeleton-text {
        display: inline-block;
      }
    }
    &>div {
      margin-top: 0.35em;
    }
  }
  & .link-placeholder {
    font-size: 0.95em;
    width: 100%;
    height: 34px;
    border-radius: 2em;
    @media (min-width: Variables.$small-vertical-tablet) {
      height: 36px;
    }
  }
}