@use "Styles/Variables";

.task {
  width: 100%;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  text-align: left;
  transition: box-shadow 0.4s;
  background-color: var(--maintenance-task-background);
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:hover {
    box-shadow: var(--shadow-level-2-mid);
  }
  & .subtext {
    font-size: 0.8em;
    color: var(--text-color-lightest);
  }
  &>.title {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    margin-bottom: 0.75em;
    &>div {
      display: flex;
      gap: 0.25em;
      flex-direction: column;
      &>div {
        font-size: 1em;
        font-weight: 400;
        &.titletext {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;  
          overflow: hidden;
        }
        &.subtext {
          font-size: 0.8em;
          color: var(--text-color-lightest);
        }
      }
    }
  }
  &>.description {
    font-size: 0.95em;
    color: var(--text-color-light);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  &>.attachments {
    margin-top: 0.5em;
    &>.subtext {
      margin-bottom: 0.5em;
    }
    &>.grid {
      display: flex;
      gap: 0.5em;
      &>div {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 0.5em;
        box-shadow: var(--shadow-level-1);
        &>img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &>.task-tags {
    margin-top: 1em;
  }
}