@use "Styles/Variables";

.action-button.inline-loader {
  width: 50px;
  height: calc(100% - 0.25px);
  background: #fff;
  border-top-right-radius: calc(var(--border-radius)* 0.5);
  border-bottom-right-radius: calc(var(--border-radius)* 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1em;
  background-color: var(--tile-background);
  &.loading {
    width: 50px;
    &>.triangle-loader {
      scale: 0.5;
      translate: -50% -50%;
    }
    &.success,
    &.error {
      &>.triangle-loader {
        scale: 0;
        translate: -50% -50%;
      }
    }
  }
  &>.triangle-loader {
    --path: url(#themeGradient);
    --dot: var(--theme-mid);
  }
  &>.check-icon path {
    stroke: url(#successGradient);
  }
  &>.error-icon path {
    fill: url(#errorGradient);
  }
}