@use "Styles/Variables";

.expense-viewer.create-expense.bottom-sheet.confirmation-sheet {
  &>.sheet > .sheet-scroll-view > .sheet-content {
    & .gradient-button {
      margin-top: 2.5em;
      &:not(.loading) {
        width: 90%;
      }
    }
    & .expense-attachments.upload-grid {
      @media (min-width: 550px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (min-width: Variables.$small-vertical-tablet) {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}