@use "Styles/Variables";

.confirmation-sheet.bottom-sheet.data-viewer.task-viewer {
  &>.sheet {
    @media (min-width: 670px) {
      max-width: 800px;
    }
    &>.sheet-scroll-view > .sheet-content {
      &>.title {
        &>.selectors {
          display: flex;
          align-items: center;
          margin-bottom: 0.65em;
        }
      }
      & .p {
        margin: 1em 0 1.5em;
      }
    }
  }
}