@use "Styles/Variables";

.burger.core-burger {
  font-size: 0.9em;
  --stroke: url(#globalBrandGradient);
  --shadow-color: transparent;
  opacity: 0;
  translate: 0 -1em;
  animation: fall 0.5s 0.5s forwards;
  @media (min-width: 670px) {
    font-size: 1.1em;
    left: 1em;
  }
  @media(min-width: 957px) {
    display: none;
  }
  &>div>.bar {
    @include Variables.buttonGradient;
  }
}