@use "Styles/Variables";

.core-nav {
  left:0;
  bottom: 0;
  width: 100%;
  height: Variables.$nav-height-small;
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media (min-width: 957px) {
    bottom: auto;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    width: Variables.$nav-width-large;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: var(--nav-bar-background);
    box-shadow: 2.5px 0px 0.75em rgba(#000, 0.2);
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  &>nav {
    height: 60px;
    border-radius: 35px;
    width: calc(100% - 1.5em);
    box-shadow: 0px 0px 0.75em rgba(#000, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    background-color: var(--nav-bar-background);
    @media (min-width: 670px) {
      width: 70%;
    }
    @media (min-width: 957px) {
      width: 100%;
      height: auto;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &>.icon-link {
      &>div > svg {
        &.buildings-stroked {
          & path {
            fill: var(--nav-bar-text-color);
          }
        }
        &.buildings-filled,
        &.staff-filled {
          & path {
            fill: url(#globalBrandGradient);
          }
        }
        &.staff-stroked {
          & path {
            fill: var(--nav-bar-text-color);
            &:nth-of-type(3) {
              fill: none;
              stroke: var(--nav-bar-text-color);
            }
          }
        }
        &.schedule-stroked {
          & path:nth-of-type(2) {
            fill: var(--nav-bar-text-color);
          }
        }
        &.schedule-filled {
          & path {
            &:nth-of-type(2) {
              fill: url(#globalBrandGradient);
            }
          }
        }
        &.settings-stroked {
          & path,
          & circle {
            stroke-width: 1.5;
            stroke: var(--nav-bar-text-color);
          }
        }
        &.settings-filled {
          & path {
            fill: url(#globalBrandGradient);
          }
          & circle {
            fill: var(--nav-bar-background);
          }
        }
      }
      @media (max-width: 956px) {
        &:hover > div > svg {
          &.buildings-stroked {
            & path {
              fill: url(#globalBrandGradient);
            }
          }
          &.staff-stroked {
            & path {
              fill: url(#globalBrandGradient);
              &:nth-of-type(3) {
                fill: none;
                stroke: url(#globalBrandGradient);
              }
            }
          }
          &.schedule-stroked {
            & path:nth-of-type(2) {
              fill: url(#globalBrandGradient);
            }
          }
          &.settings-stroked {
            & path {
              stroke: url(#globalBrandGradient);
            }
          }
        }
      }
      @media (min-width: 957px) {
        padding: 0.75em 2em;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        &.active,
        &:hover {
          background-color: var(--nav-bar-hover);
        }
        &>span {
          font-size: 1em;
          margin-left: 0.5em;
        }
      }
    }
    &>.logo-link {
      text-decoration: none;
      margin: 2em auto;
    }
  }
  &>.day-night-toggle,
  &> nav > .logo-link {
    display: none;
    @media(min-width: 957px) {
      display: block;
    }
  }
  &>.day-night-toggle {
    margin: 1em auto 2em auto;
    min-height: var(--height);
  }
}