@use "Styles/Variables";

.scrum-small {
  width: 100%;
  margin-top: 1em;
  &>.image-slider > .flickity-viewport {
    transition: height 0.3s;
  }
  & .column {
    width: 95%;
    padding-right: 5%;
    @media (min-width: Variables.$small-vertical-tablet) {
      width: 47.5%;
      padding-right: 2.5%;
    }
  }
}