@use "Styles/Variables";

.reservation-filter-button.icon-button {
  @media (min-width: 1400px) {
    display: none;
  }
  & .indicator {
    @media (min-width: Variables.$small-vertical-tablet) {
      font-size: 0.8em;
    }
  }
  &>.colored-loading-action {
    scale: 0.8;
    translate: 0 2.5%;
    @media (min-width: Variables.$small-vertical-tablet) {
      scale: 1;
    }
  }
}

.reservation-filter-inputs.horizontal-filters {
  display: none;
  @media (min-width: 1400px) {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  &.dark > label.input {
    --input-text-color: var(--text-color);
  }
  &>label.input {
    min-width: 275px;
    --border-radius: 0.5em;
    --background: var(--tile-background);
  }
}