@use "Styles/Variables";

.page.organization .tile.org-name {
  flex-direction: column;
  row-gap: 1em;
  &>.input {
    max-width: 400px;
    margin: auto;
    --background: var(--tile-background);
    @media (min-width: 957px) {
      margin: 0;
    }
    &> .input-positioner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &> button svg {
        stroke: none;
        &:first-of-type {
          fill: var(--text-color-light);
        }
        &:last-of-type {
          fill: url(#themeGradient);
        }
      }
    }
    &>.colored-loading-action {
      width: 50px;
      height: calc(100% - 0.25px);
      background: #fff;
      border-radius: 0;
      padding: 0;
      border-top-right-radius: calc(var(--border-radius)* 0.5);
      border-bottom-right-radius: calc(var(--border-radius)* 0.5);
      @include Variables.center;
      position: relative;
      font-size: 1em;
      background-color: var(--tile-background);
      &.loading {
        width: 50px;
        &>.triangle-loader {
          scale: 0.5;
          translate: -50% -52.5%;
        }
        &.success,
        &.error {
          &>.triangle-loader {
            scale: 0;
            translate: -50% -50%;
          }
        }
      }
    }
  }
}