@use "Styles/Variables";

.burger {
  --color: #fff;
  --stroke: var(--color);
  --shadow-color: rgb(from #000 r g b / 25%);
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: transparent;
  @include Variables.center;
  position: relative;
  border: none;
  outline: none;
  &:focus-visible {
    outline: none;
    &>.svg-circle {
      opacity: 1;
      transition: opacity 0.2s 0s;
      &> circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 0.6s 0.1s;
      }
    }
    &>div {
      scale: 0.85;
    }
  }
  &>div {
    width: 2.2em;
    height: 1.9em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: scale 0.4s 0s;
    &>.bar {
      width: 100%;
      height: 0.25em;
      border-radius: 0.5em;
      background: var(--color);
      box-shadow: 0em 0.05em 0.25em var(--shadow-color);
      &.top,
      &.bottom {
        width: 50%;
        transition: translate 0.4s 0.6s, rotate 0.6s 0s, width 0.4s 0s, scale 0.4s 0s;
      }
      &.mid {
        transition: scale 0.3s 1s;
      }
    }
  }
  &>.svg-circle {
    top: 5%;
    left: 5%;
    overflow: visible;
    position: absolute;
    height: 90%;
    width: 90%;
    rotate: -90deg;
    opacity: 0;
    transition: opacity 0.2s 0.55s;
    &>circle {
      fill: none;
      stroke-width: 0.15em;
      stroke: var(--stroke);
      stroke-linecap: round;
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      transition: stroke-dashoffset 0.6s 0s;
      filter: drop-shadow(0em 0.1em 0.3em var(--shadow-color));
    }
  }
  &.open {
    &>div {
      scale: 0.9;
      transition: scale 0.4s 0.6s;
      &>.bar {
        &.top,
        &.bottom {
          width: 100%;
          scale: 1 0.75;
        }
        &.mid {
          scale: 0 1;
          transition: scale 0.3s 0s;
        }
        &.top {
          rotate: 135deg;
          translate: 0 0.825em;
          transition: translate 0.4s 0.2s, rotate 0.3s 0.6s, width 0.4s 0.6s, scale 0.4s 0.6s;
        }
        &.bottom {
          rotate: 225deg;
          translate: 0 -0.825em;
          transition: translate 0.4s 0.2s, rotate 0.6s 0.6s, width 0.4s 0.6s, scale 0.4s 0.6s;
        }
      }
    }
    &>.svg-circle {
      opacity: 1;
      translate: opacity 0.2s 0.55s;
      &> circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 0.6s 0.6s;
      }
    }
  }
}