@use "Styles/Variables";

.page.property-configuration {
  width: 100%;
  margin-top: 0.5em;
  @media (min-width: Variables.$small-vertical-tablet) {
    margin-top: 1em;
  }
  & .forms {
    display: flex;
    row-gap: 1em;
    flex-direction: column;
    @media (min-width: Variables.$small-vertical-tablet) {
      row-gap: 2em;
    }
    &>form,
    &>div {
      & .input-group {
        width: 100%;
        display: inherit;
        flex-wrap: inherit;
        gap: inherit;
        &>h4 {
          font-size: 1.15em;
          width: 100%;
          font-weight: 600;
          margin-bottom: 0.1em;
        }
        & .input {
          --background: var(--tile-background);
          @media (min-width: Variables.$small-vertical-tablet) {
            width: calc(50% - 0.65em);
          }
          @media (min-width: 1500px) {
            width: calc(33.333% - 1.3em);
          }
        }
      }
      &>.gradient-transition-button,
      &>.loading-action {
        margin: 0.5em auto;
      }
      &>.loading-action:not(.loading),
      &>.gradient-transition-button {
        @media (min-width: 670px) {
          width: 400px;
        }
      }
    }
    &>.gradient-transition-button {
      margin-top: 2em;
      max-width: 400px;
      align-self: center;
      &::after {
        background-color: var(--background-dark);
      }
    }
  }
}