@use "Styles/Variables";

.mockup {
  width: calc(50% - calc(var(--core-padding) / 2));
  max-width: 300px;
  height: auto;
  @include Variables.shadowLevel3;
  &>div > .iphone {
    width: 100%;
    height: auto;
  }
}