@property --dn-color-1 {
  syntax: "<color>";
  inherits: false;
}

@property --dn-color-2 {
  syntax: "<color>";
  inherits: false;
}

.day-night-toggle {
  --padding: 5px;
  --height: 50px;
  --width: calc(var(--height) * 2);
  height: var(--height);
  width: var(--width);
  border-radius: calc(var(--height) / 2);
  border: none;
  overflow: hidden;
  padding: var(--padding);
  transition-duration: 0.5s;
  box-shadow: inset 0px calc(var(--height) / 10) calc(var(--width) / 10) rgba(#000, 0.2);
  background: linear-gradient(to right, var(--dn-color-1), var(--dn-color-2));
  &>div {
    pointer-events: none;
    height: calc(var(--height) - calc(var(--padding) * 2));
    width: calc(var(--height) - calc(var(--padding) * 2));
    border-radius: 50%;
    position: relative;
    transition-duration: 0.5s;
    &>.sun,
    &>.moon {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      transition-duration: 0.5s;
    }
    &>.sun {
      filter: drop-shadow(0px calc(var(--height) / 20) calc(var(--width) / 10) rgba(#ffab3e, 0.5));
    }
    &>.moon {
      opacity: 0;
      rotate: -90deg;
    }
  }
  &.dark {
    --dn-color-1: #40394e;
    --dn-color-2: #635d71;
    box-shadow: inset 0px calc(var(--height) / 10) calc(var(--width) / 10) rgba(#000, 0.4);
    & > div {
      translate: var(--height);
      box-shadow: 0px calc(var(--height) / 10) calc(var(--width) / 10) rgba(#000, 0.2);
      &>.moon {
        opacity: 1;
        rotate: 0deg;
      } 
      &>.sun {
        opacity: 0;
        rotate: 90deg;
      } 
    }
  }
  &.light {
    --dn-color-1: #ffffff;
    --dn-color-2: #f6b80f;
    box-shadow: inset 0px calc(var(--height) / 10) calc(var(--width) / 10) rgba(#000, 0.2);
  }
}