@use "Styles/Variables";

.available-space-card {
  padding: 1em;
  width: 90%;
  height: 239px; // TODO - redesign
  max-width: 350px;
  background-color: var(--tile-background);
  border-radius: 0.5em;
  box-shadow: var(--shadow-level-2-mid);
  &.success {
    &>p > strong {
      @include Variables.successGradient;
      @include Variables.clipText;
    }
    &>.space-photos > div > svg path {
      fill: url(#successGradient);
    }
    &> .space-card-title > div > span {
      @include Variables.successGradient;
      box-shadow: Variables.$shadow-level-2 rgba(Variables.$success-dark, 0.5);
    }
    &>.gradient-border-button {
      color: Variables.$success-dark;
      background-image: linear-gradient(to right, var(--tile-background), var(--tile-background), Variables.$success-light, Variables.$success-dark);
      &>div > span {
        @include Variables.successGradient;
        @include Variables.clipText;
      }
    }
  }
  &.error {
    &>p > strong {
      @include Variables.errorGradient;
      @include Variables.clipText;
    }
    &>.space-photos > div > svg path {
      fill: url(#errorGradient);
    }
    &> .space-card-title > div > span {
      @include Variables.errorGradient;
      box-shadow: Variables.$shadow-level-2 rgba(Variables.$error-dark, 0.5);
    }
    &>.gradient-border-button {
      color: Variables.$error-dark;
      background-image: linear-gradient(to right, var(--tile-background), var(--tile-background), Variables.$error-light, Variables.$error-dark);
      &>div > span {
        @include Variables.errorGradient;
        @include Variables.clipText;
      }
    }
  }
  &.info {
    &>p > strong {
      @include Variables.infoGradient;
      @include Variables.clipText;
    }
    &>.space-photos > div > svg path {
      fill: url(#infoGradient);
    }
    &> .space-card-title > div > span {
      @include Variables.infoGradient;
      box-shadow: Variables.$shadow-level-2 rgba(Variables.$info-dark, 0.5);
    }
    &>.gradient-border-button {
      color: Variables.$info-dark;
      background-image: linear-gradient(to right, var(--tile-background), var(--tile-background), Variables.$info-light, Variables.$info-dark);
      &>div > span {
        @include Variables.infoGradient;
        @include Variables.clipText;
      }
    }
  }
  &>p {
    margin-top: 0.15em;
    font-weight: 300;
    color: var(--text-color-light);
    &>strong {
      font-weight: 500;
      @include Variables.gradientText;
    }
  }
}

.available-space-card.dummy {
  position: relative;
  overflow: hidden;
  & *:not(>.overlay) {
    visibility: hidden;
  }
  &>.overlay {
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    position: absolute;
    @include Variables.center;
    gap: 0.25em;
    flex-direction: column;
    background-color: var(--tile-background);
    &>svg {
      scale: 1.4;
      width: 100%;
      height: 100%;
    }
    &> p {
      font-style: italic;
      color: var(--text-color-lightest);
    }
  }
}