@use "Styles/Variables";

.page.dashboard {
  & .filter-button {
    margin-left: 1em;
    padding: 0.5em 1em;
    &>svg {
      width: 1.4em;
      height: 1.4em;
      margin-left: 0.4em;
      & path,
      & circle {
        stroke-width: 2.5;
        stroke: #fff;
      }
    }
    @media (min-width: 670px) {
      font-size: 1.15em;
    }
  }
  & .stat-tiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    &>.progress-tile {
      padding-bottom: 1.75em;
      width: calc(50% - 0.5em);
      @media (min-width: 800px) {
        padding-bottom: 2.25em;
      }
    }
  }
}