@use "Styles/Variables";

div.tile.spaces {
  opacity: 0;
  animation: show 0.5s forwards;
  &>.space-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>h3 {
      font-size: 1.5em;
    }
  }
  & .input.dropdown,
  & .input.number-input {
    @media (max-width: Variables.$small-vertical-tablet) {
      width: calc(50% - 0.65em);
    }
    @media (min-width: Variables.$small-vertical-tablet) {
      width: calc(33.333% - 0.85em);
    }
  }
  & .input.dropdown > .dd-selector {
    max-width: 150px;
  }
  & .input.number-input {
    &>.input-positioner {
      &:has(~.postfix) {
        border-radius: 0;
        border-top-left-radius: calc(var(--border-radius)* 0.925);
        border-bottom-left-radius: calc(var(--border-radius)* 0.925);
        &> input {
          padding-right: 0;
        }
      }
    }
    &>.postfix {
      color: var(--text-color-light);
      background: var(--tile-background);
      border-top-right-radius: calc(var(--border-radius)* 0.925);
      border-bottom-right-radius: calc(var(--border-radius)* 0.925);
      padding: 0 1em 0 0.5em;
      @include Variables.center;
    }
  }
  & .input > .input-positioner > button > svg {
    &.ruler-icon {
      scale: 0.85;
      translate: 10%;
    }
  }
}
