@use "Styles/Variables";

.space-carousel {
  margin: 0.5em 0;
  & .flickity-cell {
    margin-right: 1em;
    height: 150px;
    width: calc(50% - 0.5em);
    @media (min-width: Variables.$small-vertical-tablet) {
      margin-right: 1.75em;
      width: calc(33.3333% - 1.2em);
    }
    @media (min-width: 1200px) {
      height: 200px;
      margin-right: 2em;
      width: calc(33.3333% - 1.35em);
    }
    @media (min-width: 1400px) {
      margin-right: 1em;
      width: calc(16.66665% - 0.85em);
    }
    & img {
      border-radius: 0.5em;
    }
    & .fallback {
      width: 100%;
      height: 100%;
      border-radius: 0.5em;
    }
  }
}