@use "Styles/Variables";

.nav-header.public-header > div > .marketing-nav {
  display: none;
  @media(min-width: Variables.$large-vertical-tablet) {
    @include Variables.center;
    column-gap: 3em;
    height: 70px;
  }
  @media(min-width: 1200px) {
    font-size: 1.15em;
  }
}