@use "Styles/Variables";

.nav-header.marketing-header > div {
  &>.burger {
    --color: linear-gradient(to right, #{Variables.$light-teal}, #{Variables.$teal});
    --stroke: url(#marketingGradient);
    --shadow-color: transparent;
  }
  &> .marketing-nav {
    display: none;
    @media(min-width: Variables.$large-vertical-tablet) {
      @include Variables.center;
      column-gap: 2.5em;
      height: 70px;
      font-size: 0.95em;
    }
    @media(min-width: 1200px) {
      font-size: 1em;
      column-gap: 3.5em;
    }
    &>a {
      justify-content: center;
      &:last-of-type {
        color: #fff;
        @include Variables.brandGradient;
        border-radius: 0.25em;
        padding: 0.5em 1.2em;
        text-transform: uppercase;
        font-size: 1.15em;
        font-weight: 400;
        text-shadow: none;
        text-decoration: none;
        box-shadow: var(--shadow-level-2-mid), #{Variables.$shadow-overhead-level-1} rgb(from Variables.$teal r g b / 75%);
        &>div {
          display: none;
        }
      }
    }
  }
}

