@use "Styles/Variables";

.page.property-configuration.base-property .forms {
  &>form,
  &>div {
    & > h2 > svg {
      &.map-arrow {
        rotate: 45deg;
        translate: 0 -0.15em;
        fill: url(#themeGradient);
      }
      &.image-placeholder-icon {
        margin-right: 0.6em;
        &> g > g {
          fill: url(#themeGradient);
        }
      }
      &.living-space-bed,
      &.basketball-court {
        width: 2em;
        height: 2em;
        margin-right: 0.5em;
        fill: url(#themeGradient);
      }
      &.basketball-court {
        & > g > path {
          fill: var(--tile-background);
        }
      }
    }
  }
}