.dropdown.paginated-dropdown {
  &:has(.loading-action.dd-fetch-loader.loading) .dd-clear-button {
    scale: 0;
  }
  &> .loading-action.dd-fetch-loader {
    top: 0;
    right: 0;
    position: absolute;
    width: 41px;
    height: 100%;
    margin-top: 0;
    pointer-events: none;
    &.loading {
      &>.triangle-loader {
        translate: -60% -52.5%;
        scale: 0.5;
      }
      &>svg {
        display: none;
      }
    }
  }
}