.dropdown.paginated-dropdown {
  &> .loading-action.dd-fetch-loader {
    width: 41px;
    height: 41px;
    margin-top: 0;
    background-color: var(--background);
    border-top-right-radius: calc(var(--border-radius)* 0.925);
    border-bottom-right-radius: calc(var(--border-radius)* 0.925);
    &.loading {
      &>.triangle-loader {
        translate: -50% -52.5%;
        scale: 0.5;
      }
      &>svg {
        display: none;
      }
    }
  }
  &>.input-positioner {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}