@use "Styles/Variables";

.confirmation-sheet.lease-sheet {
  & .options {
    margin-top: 1em;
    display: flex;
    row-gap: 1em;
    flex-direction: column;
    & h3 {
      text-indent: 1em;
    }
    &>.split {
      display: flex;
      align-items: center;
      column-gap: 1em;
      justify-content: space-between;
    }
  }
  & .input.date-input > .input-positioner > button > svg {
    & path,
    & circle {
      stroke-width: 2;
    }
  }
  & .input.number.rate-input > .input-positioner > button > svg {
    &:first-of-type {
      stroke: none;
      fill: var(--text-color-light);
      & path {
        stroke: none;
      }
    }
    &:last-of-type {
      stroke: none;
      fill: url(#themeGradient);
    }
  }
  & .delete-lessee {
    height: 37.5px;
    min-width: 37.5px;
    max-width: 37.5px;
    border: none;
    border-radius: 50%;
    @include Variables.center;
    @include Variables.themeGradient;
    transition: box-shadow 0.4s, scale 0.4s;
    box-shadow: 0px 2.5px 5px rgba(#000, 0.2);
    &:focus-visible,
    &:hover {
      scale: 1.05;
      box-shadow: 0px 0px 7.5px var(--theme-mid);
    }
    &>svg {
      width: 25px;
      height: 25px;
      fill: #fff;
    }
  }
  & .gradient-border-button {
    align-self: flex-end;
    margin: 0;
    text-transform: none;
    font-weight: 500;
    font-size: 0.95em;
  }
  & .loading-action {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--button-max-width);
  }
}