@use "Styles/Variables";

.confirmation-sheet.bottom-sheet {
  &>div {
    @media (min-width: 670px) {
      max-width: 600px;
    }
  }
  & .sheet-content {
    width: 90%;
    margin: auto;
    max-width: 400px;
  }
  & h2,
  & p {
    width: 100%;
    text-align: center;
  }
  & h2 {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }
  & p {
    margin-bottom: 1.5em;
    color: var(--text-color-light);
  }
  & .closer-button {
    top: 1.25em;
    right: 1.25em;
    --dimensions: 3.5em;
    position: fixed;
    z-index: 2;
    transition: opacity 0.25s;
    &:hover {
      opacity: 0.5;
    }
  }
  & .gradient-transition-button {
    margin-bottom: 1em;
  }
}