@use "Styles/Variables";

.confirmation-sheet.bottom-sheet {
  z-index: 10000;
  pointer-events: none;
  --button-margins: 0.25em auto 0;
  --button-max-width: 350px;
  --sheet-background: var(--background);
  &.open {
    pointer-events: auto;
  }
  &.mobile > .sheet > .sheet-scroll-view > .sheet-content {
    padding-bottom: 1.5em;
  }
  &.tight > .sheet > .sheet-scroll-view > .sheet-content {
    width: 90%;
    max-width: 400px;
  }
  &>div {
    box-shadow: var(--shadow-level-3-dark);
    @media (min-width: Variables.$small-vertical-tablet) {
      max-width: 600px;
    }
  }
  & .sheet-content {
    margin: auto;
    width: 95%;
    max-width: 450px;
    padding-bottom: 1em;
    & h2,
    & p {
      width: 100%;
      text-align: center;
    }
    & h2 {
      margin-top: 0.25em;
      margin-bottom: 0.5em;
    }
    & p {
      margin-bottom: 2em;
      color: var(--text-color-light);
    }
    &>.gradient-transition-button,
    &>.gradient-button,
    &>.gradient-border-button {
      margin: var(--button-margins);
      max-width: var(--button-max-width);
    }
    &>form .gradient-button {
      margin-left: auto;
      margin-right: auto;
    }
  }
  & .closer-button {
    top: 1em;
    right: 1em;
    --dimensions: 2.5em;
    position: fixed;
    z-index: 2;
    transition: opacity 0.25s;
    @media (min-width: 670px) {
      top: 1.25em;
      right: 1.25em;
      --dimensions: 3em;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}