.management-page-title.maintenance-title {
  @media (min-width: 800px) {
    & .gradient-button {
      margin-left: 1.5em;
    }
  }
  @media (min-width: 1400px) {
    margin-top: 1em;
  }
  & .gradient-button {
    display: flex;
    padding: 0.5em 1em;
    & svg {
      width: 1.2em;
      height: 1.2em;
      fill: #fff;
      margin-left: 0.25em;
    }
  }
}