@use "Styles/Variables";

:root {
  --core-padding: 1em;
  --dim: #00000082;
  --background: #{Variables.$light-background};
  --background-dark: #e9e9e9;
  --background-light: #fff;
  --text-color: #{Variables.$black};
  --text-color-light: #{Variables.$gray};
  --text-color-lightest: #a7a7a7;
  --text-color-faint: #898989;
  --nav-bar-background: #06222d;
  --nav-bar-text-color: #{rgba(#fff, 0.85)};
  --nav-bar-hover: #{rgba(#fff, 0.05)};
  --tile-background: #fff;
  --drop-down-background: #fff;
  --drop-down-background-focus: #f0f0f0;
  --elevated-layer-background: #fff;
  --faint: #d0cece;
  --theme-light: #{Variables.$teal};
  --theme-dark: #{Variables.$blue};
  --theme-mid: #{Variables.$light-blue};
  --theme-text: #{Variables.$teal};
  --theme-gray: #{Variables.$light-gray};
  --configure-theme: #{Variables.$configure-light};
  --leases-theme: #{Variables.$leases-light};
  --amenities-theme: #{Variables.$amenities-light};
  --maintenance-theme: #{Variables.$maintenance-light};
  --finances-theme: #{Variables.$finances-light};
  --event-background: var(--theme-mid);
  --event-background-highlight: #24aaf7;
  --shadow-color-light: #{Variables.$shadow-color-light};
  --shadow-color-mid: #{Variables.$shadow-color-mid};
  --shadow-color-dark: #{rgba(#000, 0.3)};
  --shadow-level-1: #{Variables.$shadow-level-1} var(--shadow-color-light);
  --shadow-level-2: #{Variables.$shadow-level-2} var(--shadow-color-light);
  --shadow-level-3: #{Variables.$shadow-level-3} var(--shadow-color-light);
  --shadow-level-1-mid: #{Variables.$shadow-level-1} var(--shadow-color-mid);
  --shadow-level-2-mid: #{Variables.$shadow-level-2} var(--shadow-color-mid);
  --shadow-level-3-mid: #{Variables.$shadow-level-3} var(--shadow-color-mid);
  --shadow-level-1-dark: #{Variables.$shadow-level-1} var(--shadow-color-dark);
  --shadow-level-2-dark: #{Variables.$shadow-level-2} var(--shadow-color-dark);
  --shadow-level-3-dark: #{Variables.$shadow-level-3} var(--shadow-color-dark);
  --skeleton-gradient: linear-gradient(90deg, #eee 25%, #e7e7e7 50%, #eee 75%);
  @media (min-width: Variables.$small-vertical-tablet) {
    --core-padding: 1.5em;
  }
  @media (min-width: Variables.$small-desktop) {
    --core-padding: 2em;
  }
}

html[data-theme='dark'] {
  --dim: #000000cd;
  --background: #292929;
  --background-light: var(--background);
  --background-dark: #232222;
  --text-color: #fff;
  --text-color-light: #{Variables.$light-gray};
  --text-color-lightest: #a7a7a7;
  --text-color-faint: #b3b3b3;
  --nav-bar-background: #232121;
  --nav-bar-text-color: #{rgba(#fff, 0.75)};
  --nav-bar-hover: #{rgba(#fff, 0.05)};
  --tile-background: #424141;
  --drop-down-background: var(--background-dark);
  --drop-down-background-focus: #363636;
  --elevated-layer-background: var(--background);
  --faint: #444343;
  --theme-light: #{Variables.$yellow};
  --theme-dark: #{Variables.$orange};
  --theme-mid: #{Variables.$light-orange};
  --theme-gray: #767676;
  --configure-theme: #{Variables.$configure-dark};
  --leases-theme: #{Variables.$leases-dark};
  --amenities-theme: #{Variables.$amenities-dark};
  --maintenance-theme: #{Variables.$maintenance-dark};
  --finances-theme: #{Variables.$finances-dark};
  --event-background: var(--theme-mid);
  --event-background-highlight: #{Variables.$lighter-orange};
  --shadow-color-light: #{rgba(#000, 0.35)};
  --shadow-color-mid: #{rgba(#000, 0.5)};
  --shadow-color-dark: #{rgba(#000, 0.75)};
  --shadow-level-1: #{Variables.$shadow-level-1} var(--shadow-color-light);
  --shadow-level-2: #{Variables.$shadow-level-2} var(--shadow-color-light);
  --shadow-level-3: #{Variables.$shadow-level-3} var(--shadow-color-light);
  --shadow-level-1-mid: #{Variables.$shadow-level-1} var(--shadow-color-mid);
  --shadow-level-2-mid: #{Variables.$shadow-level-2} var(--shadow-color-mid);
  --shadow-level-3-mid: #{Variables.$shadow-level-3} var(--shadow-color-mid);
  --shadow-level-1-dark: #{Variables.$shadow-level-1} var(--shadow-color-dark);
  --shadow-level-2-dark: #{Variables.$shadow-level-2} var(--shadow-color-dark);
  --shadow-level-3-dark: #{Variables.$shadow-level-3} var(--shadow-color-dark);
  --skeleton-gradient: linear-gradient(90deg, #2c2b2b 25%, #313131 50%, #2c2b2b 75%);
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}


html {
  max-width: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "“Segoe UI”", Roboto,
  Helvetica, Arial, sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  accent-color: var(--theme-mid);
}

div:focus-visible {
  outline: 1px solid var(--theme-mid);
}

input, textarea, label, button {
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "“Segoe UI”", Roboto,
  Helvetica, Arial, sans-serif;
}

body {
  width: 100%;
  margin: 0;
  font-size: 1em;
  overflow: hidden;
}

button {
  padding: 0;
  cursor: pointer;
  font-size: 1em;
}

button, a {
  outline: none;
  &:focus-visible {
    outline: 2px solid var(--theme-mid);
    outline-offset: 0.3em;
  }
}

a {
  border-radius: 0.25em;
}

h1, h2, h3, h4, h5, h6, p, ol, address {
  margin: 0;
  color: var(--text-color);
}

p {
  line-height: 1.5;
}

ol {
  padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
