@use "Styles/Variables";

.amenities-section > .schedule {
  gap: 0.5em;
  margin-top: 1em;
  overflow: hidden;
  & > .calendar {
    width: 100%;
    &>.title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1.5em;
      position: relative;
      &>.fading-loader {
        top: 0;
        right: 0;
        position: absolute;
        scale: 0.75;
        & svg {
          filter: drop-shadow(0em 0px 0.2em var(--shadow-color-mid));
        }
      }
      &>button.gradient-border-button {
        border: none;
        --border-radius: 0.5em;
        --padding: 0.15em 0.5em; 
        margin-bottom: 0.25em;
        white-space: nowrap;
        animation: show 0.5s forwards;
        &>div {
          font-size: 1.5em;
          font-weight: 300;
          display: block;
          background-color: var(--elevated-layer-background);
          border-radius: calc(var(--border-radius) * 0.45);
          @media (min-width: Variables.$small-vertical-tablet) {
            font-size: 1.75em;
          }
          &>div {
            @include Variables.gradientText;
            &>strong {
              font-size: 0.7em;
              font-weight: 800;
            }
          }
        }
      }
      &>button.icon-button {
        font-size: 1.075em;
        @media (min-width: Variables.$small-vertical-tablet) {
          font-size: 1.18em;
        }
        &> svg {
          stroke: var(--text-color-light);
        }
      }
    }
  }
}