@use "Styles/Variables";

.radio-group > div > label.checkable {
  &.selected > div::after {
    scale: 1;
  }
  &>div {
    position: relative;
    margin-right: 0.5em;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    @include Variables.center;
    @include Variables.themeGradient;
    transition: box-shadow 0.4s;
    &::before {
      content: "";
      --dimensions: calc(var(--size) - 4px);
      background-color: var(--background);
      width: var(--dimensions);
      height: var(--dimensions);
      border-radius: 50%;
    }
    &::after {
      content: "";
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      scale: 0;
      transition: scale 0.25s;
      position: absolute;
      @include Variables.themeGradient;
    }
    &>input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      position: absolute;
    }
  }
}