@use "Styles/Variables";

.radio-group > div > label.checkable {
  &.selected > div::after {
    scale: 1;
  }
  &>div {
    position: relative;
    margin-right: 0.5em;
    width: var(--size);
    height: var(--size);
    border: calc(var(--size) / 10) solid var(--border-color);
    border-radius: 50%;
    transition: box-shadow 0.4s;
    @include Variables.center;
    &::after {
      content: "";
      width: 50%;
      height: 50%;
      border-radius: 50%;
      scale: 0;
      transition: scale 0.25s;
      background-color: var(--border-color);
    }
    &>input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
    }
  }
}