@use "Styles/Variables";

.tile.link-payment-account {
  &>h2 > svg {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.3em;
  }
  &>.loading-action {
    height: 45px;
    max-width: 400px;
    margin: auto;
    @media (min-width: 957px) {
      margin: 0;
    }
  }
}