@use "Styles/Variables";

.dd-clear-button {
  top: 15%;
  right: calc((var(--border-radius) / 8) + 2px);
  border: none;
  position: absolute;
  height: 70%;
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  scale: 0;
  opacity: 0;
  visibility: hidden;
  @include Variables.center;
  background-color: var(--background);
  transition: scale 0.4s, opacity 0.4s, visibility 0s 0.4s;
  &>svg {
    width: 1em;
    height: 1em;
    stroke: var(--theme-mid);
    & path {
      stroke-width: 3;
    }
  }
  &.active {
    scale: 1;
    opacity: 1;
    visibility: visible;
    transition: scale 0.4s, opacity 0.4s, visibility 0s;
  }
}