@use "Styles/Variables";

.page.property-configuration {
  width: 100%;
  & .forms {
    display: flex;
    row-gap: 1em;
    flex-direction: column;
    &>.spaces {
      overflow: hidden;
      &>.space-title {
        width: 100%;
        height: 2.75em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &>h3 {
          font-size: 1.5em;
        }
        &>.circular-icon-button {
          opacity: 0;
          visibility: hidden;
          scale: 0.5;
          position: relative;
          transition: box-shadow 0.3s, opacity 0.3s, scale 0.3s, visibility 0s 0.3s;
          &>svg {
            transition: all 0.4s 0.4s;
          }
          &.editing {
            opacity: 1;
            scale: 1;
            visibility: visible;
            transition: box-shadow 0.3s, opacity 0.3s, scale 0.3s, visibility 0s;
            &>svg {
              transition: all 0.4s 0.4s;
            }
            &.loading > svg {
              scale: 0;
              opacity: 0;
              transition: all 0.4s;
            }
          }
          &>.action-button {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            &.loading {
              width: 100%;
              height: 100%;
              &>.triangle-loader {
                scale: 0.5;
                translate: -50% -52.5%;
              }
              &.success > .triangle-loader,
              &.error > .triangle-loader {
                scale: 0;
              }
            }
          }
        }
      }
      & label.input.dropdown,
      & label.input.number-input {
        @media (max-width: Variables.$small-vertical-tablet) {
          width: calc(50% - 0.65em);
        }
        @media (min-width: Variables.$small-vertical-tablet) {
          width: calc(33.333% - 0.85em);
        }
      }
      & label.input.dropdown > .dd-selector {
        max-width: 200px;
      }
      & label.input.number-input {
        &>.input-positioner {
          &:has(~.postfix) {
            border-radius: 0;
            border-top-left-radius: calc(var(--border-radius)* 0.925);
            border-bottom-left-radius: calc(var(--border-radius)* 0.925);
            &> input {
              padding-right: 0;
            }
          }
        }
        &>.postfix {
          color: var(--text-color-light);
          background: var(--tile-background);
          border-top-right-radius: calc(var(--border-radius)* 0.925);
          border-bottom-right-radius: calc(var(--border-radius)* 0.925);
          padding: 0 1em 0 0.5em;
          @include Variables.center;
        }
      }
      & .input > .input-positioner > button > svg {
        &.bath-icon,
        &.ruler-icon {
          &:first-of-type path:last-of-type {
            stroke: none;
            fill: var(--text-color-light);
          }
          &:last-of-type path:last-of-type {
            stroke: none;
            fill: url(#themeGradient);
          }
        }
        &.ruler-icon {
          scale: 0.85;
          translate: 10%;
        }
        &.clock-icon path,
        &.clock-icon circle {
          stroke-width: 2;
        }
      }
    }
  }
}
