@use "Styles/Variables";

.confirmation-sheet.bottom-sheet.data-viewer.expense-viewer {
  &>.sheet {
    &>.sheet-scroll-view > .sheet-content {
      & .cost-input {
        border: none;
        width: 100%;
        background-color: transparent;
        transition: background-color 0.4s;
        &:hover,
        &:focus-visible {
          outline: none;
          background-color: var(--background-dark);
        }
      }
      &>.title {
        &>.money-filled-icon {
          display: block;
          width: 2.5em;
          height: 2.5em;
          fill: url(#infoGradient);
          margin-left: 0.6em;
          margin-bottom: 0.25em;
        }
      }
      &>.cost-input {
        margin-top: 0;
        font-size: 1em;
        border-radius: 0.5em;
        padding: 0.75em 1em;
        margin-bottom: 1.5em;
        color: var(--text-color-light);
        &>input {
          margin-left: 0.25em;
          border: none;
          font-size: 1em;
          outline: none;
          border: none;
          color: var(--text-color);
          background-color: transparent;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          &[type=number] {
            -moz-appearance: textfield;
          }
        }
      }
    }
  }
}