@use "Styles/Variables";

.page.organization .tile.billing {
  &> p {
    margin-bottom: 0;
  }
  &>.radio-group {
    --background: var(--tile-background);
  }
  &>.loading-action {
    height: 45px;
    max-width: 400px;
    margin: 0 auto;
  }
}