@use "Styles/Variables";

.page.organization .tile.billing {
  &> p {
    margin-bottom: 0;
  }
  &>.loading-action {
    height: 45px;
    max-width: 400px;
    margin: auto;
    @media (min-width: Variables.$small-desktop) {
      margin: 0;
    }
  }
}