@use "Styles/Variables";

.card {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  font-size: 0.9em;
  background-color: var(--tile-background);
  box-shadow: var(--shadow-level-3-mid);
  @media (min-width: Variables.$small-vertical-tablet) {
    font-size: 1em;
  }
}