@use "Styles/Variables";

.task-filter-button.toggle-filters-button {
  @media (min-width: 1400px) {
    display: none;
  }
  & .colored-loading-action {
    scale: 0.8;
  }
}

.task-filter-inputs.horizontal-filters {
  display: none;
  @media (min-width: 1400px) {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: auto;
  }
  &>label.input {
    margin: 0;
    min-width: 275px;
    --border-radius: 0.5em;
  }
}