@use "Styles/Variables";

.new-property.bottom-sheet {
  & form {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 1em;
    &> .input {
      margin-bottom: 2em;
    }
    &> .gradient-button {
      margin: auto;
    }
  }
}