@use "Styles/Variables";

.amenities-section.amenities-page-loader {
  &>.management-page-title {
    &> div > .gradient-button {
      color: transparent;
      @include Variables.skeleton;
    }
  }
  &>.skeleton-content {
    margin-top: 1em;
    width: 100%;
    &>.date {
      font-size: 1.5em;
      font-weight: 300;
      border-radius: 0.25em;
      padding: 0.15em 0.5em; 
      margin-bottom: 0.25em;
      box-shadow: var(--shadow-level-2-mid);
      @include Variables.skeleton;
      @media (min-width: Variables.$small-vertical-tablet) {
        font-size: 1.75em;
      }
      &>div {
        color: transparent;
        &>strong {
          font-size: 0.7em;
          font-weight: 800;
          color: transparent;
        }
      }
    }
  }
}