@use "Styles/Variables";

.confirmation-sheet.addon-info-modal {
  & h2 {
    margin-bottom: 1em;
  }
  & p {
    text-align: left;
    margin-bottom: 1em;
    &>span {
      font-weight: 700;
      @include Variables.gradientText;
    }
  }
  & ul {
    &>li {
      margin: 0.5em 0;
      color: var(--text-color-light);
    }
  }
  & .sheet-content > .gradient-button {
    width: 100%;
    height: 50px;
    margin-top: 2em;
  }
}