@use "Styles/Variables";

.cloudinary-image-interface > .image-fader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  animation: show 0.5s forwards;
}