.input.date-input {
  &:has(>.input-positioner>input:valid) {
    &>span {
      scale: 0.9;
      transform: translateY(-1.5em) translateX(-0.25em);
    }  
  }
  &>.input-positioner {
    &>input {
      &::-webkit-date-and-time-value {
        text-align: left;
      }
    }
  }
  &>.date-picker {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 350px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    translate: 0 1.5em;
    visibility: hidden;
    transition: opacity 0.4s, translate 0.4s, visibility 0s 0.4s, height 0.5s;
    &.above {
      top: auto;
      bottom: calc(100% + 1.5em);
    }
    &.right {
      left: auto;
      right: 0;
    }
    &.open {
      opacity: 1;
      translate: 0 0;
      visibility: visible;
      pointer-events: all;
      transition: opacity 0.4s, translate 0.4s, visibility 0s, height 0.5s;
    }
  }
}