.input.date-input {
  &:has(>.input-positioner>input:valid) > span {
    scale: 0.9;
    transform: translateY(-1.5em) translateX(-0.25em); 
  }
  &>.input-positioner > input::-webkit-date-and-time-value {
    text-align: left;
  }
  &>.picker {
    position: absolute;
    top: calc(100% + 1em);
    left: 0;
    width: auto;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    translate: 0 1.5em;
    visibility: hidden;
    transition: opacity 0.4s, translate 0.4s, visibility 0s 0.4s, height 0.5s;
    &.above {
      top: auto;
      bottom: calc(100% + 1.5em);
      translate: 0 -1.5em;
      &>div .triangle-icon {
        top: auto;
        bottom: -1em;
        rotate: 180deg;
      }
    }
    &.right {
      left: auto;
      right: 0;
      &>div .triangle-icon {
        left: auto;
        right: 1.5em;
      }
    }
    &.open {
      opacity: 1;
      translate: 0 0;
      visibility: visible;
      pointer-events: all;
      transition: opacity 0.4s, translate 0.4s, visibility 0s, height 0.5s;
    }
    &>div {
      &>.date-picker {
        max-width: 350px;
      }
      & .triangle-icon {
        height: 1.5em;
        width: 1.5em;
        position: absolute;
        top: -1em;
        left: 1.5em;
        filter: drop-shadow(0 -0.3em 0.2em rgba(#000, 0.025));
        &>g {
          fill: var(--drop-down-background);
        }
      }
    }
  }
}