@use "Styles/Variables";

.search-bar {
  --border-width: 2px;
  height: 40px;
  width: 100%;
  font-size: 1em;
  padding: var(--border-width);
  background-size: 400% 400%;
  background-position: 0% 50%;
  border-radius: 2em;
  transition: background-position 0.6s;
  background-image: linear-gradient(to right, var(--theme-gray), var(--theme-gray), var(--theme-light), var(--theme-dark));
  &:has(>div>input:focus-within),
  &:hover {
    background-position: 100% 50%;
  }
  &:has(>div>input:focus-within) {
    &>div>button>svg {
      fill: url(#globalBrandGradient);      
    }
  }
  &>div {
    height: 100%;
    width: 100%;
    @include Variables.center;
    background-color: var(--tile-background);
    border-radius: inherit;
    &>button {
      outline: none;
      height: 40px;
      min-width: 40px;
      border: none;
      background-color: transparent;
      @include Variables.center;
      &>svg {
        right: -1px;
        position: relative;
        width: 22.5px;
        height: 22.5px;
        fill: var(--theme-gray);
        transition: fill 0.4s;
      }
    }
    &>input {
      outline: none;
      border: none;
      height: 100%;
      width: 100%;
      font-size: 0.95em;
      background-color: transparent;
      padding: 0 0.5em 0 0;
      &::placeholder {
        font-style: italic;
      }
    }
  }
}