@use "Styles/Variables";

.tile.addon-selection {
  & h2 > svg {
    margin-right: 0.4em;
  }
  &>p:last-of-type {
    margin-bottom: 0;
  }
  & .checkbox-group {
    &>legend {
      width: 100%;
      display: flex;
      align-items: center;
      &>.colored-loading-action {
        width: 40px;
        height: 40px;
        margin-left: 0.5em;
      }
    }
  }
}