.date-picker .date-screen-dates {
  width: 100%;
  &>table {
    width: 100%;
    border-collapse: collapse;
    &>tbody {
      &::before {
        content: "";
        display: table;
        width: 100%;
        height: 0.5em;
      }
      & > tr {
        & > td {
          padding: 0.5em 0;
          text-align: center;
        }
      }
    }
  }
}