@use "Styles/Variables";

.nav-header {
  width: 100%;
  padding: 0 var(--core-padding);
  position: fixed;
  @include Variables.center;
  top: 1em;
  left: 0;
  z-index: 1000;
  &>div {
    height: 60px;
    width: 100%;
    border-radius: 0.5em;
    padding: 0 calc(var(--core-padding) / 2);
    @include Variables.blackGradient;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow-level-3);
    @media(min-width: Variables.$small-vertical-tablet) {
      height: 70px;
    }
    @media(min-width: Variables.$large-vertical-tablet) {
      height: 80px;
      padding: 0 var(--core-padding);
    }
    & .logo {
      font-size: 1em;
      margin-left: 0.5em;
      @media (min-width: Variables.$small-vertical-tablet) {
        font-size: 1.2em;
      }
      @media (min-width: Variables.$large-vertical-tablet) {
        margin-left: -0.15em;
      }
      &>span {
        font-size: 1.75em;
      }
    }
    &>.burger {
      font-size: 0.9em;
      opacity: 0;
      translate: 0 -1em;
      animation: fall 0.5s 0.5s forwards;
      @media (min-width: Variables.$small-vertical-tablet) {
        font-size: 1.1em;
      }
      @media(min-width: Variables.$large-vertical-tablet) {
        display: none;
      }
    }
  }
}

