@use "Styles/Variables";

.leases-section > .lease-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  &>.lease {
    width: 100%;
    @media (min-width: Variables.$small-vertical-tablet) {
      width: calc(50% - 0.5em);
    }
    @media (min-width: 1300px) {
      width: calc(33.3333% - 0.66666em);
    }
  }
}