.date-picker {
  --core-padding: 1em;
  width: 100%;
  min-width: min-content;
  overflow: hidden;
  border-radius: 0.5em;
  transition: height 0.5s, max-height 0.5s;
  background-color: var(--drop-down-background);
  box-shadow: 0em 0.1em 0.35em rgba(#000, 0.2);
  &>div {
    width: 100%;
    position: relative;
    padding: var(--core-padding);
    &>.date-picker-screens {
      gap: var(--core-padding);
      display: flex;
      flex-wrap: nowrap;
      transition: translate 0.4s;
      &.month {
        translate: calc(-100% - var(--core-padding)) 0;
        &>.date-picker-screen {
          &:first-of-type {
            visibility: hidden;
            transition: visibility 0s 0.5s;
          }
          &:last-of-type {
            visibility: visible;
            transition: visibility 0s 0s;
          }
        }
      }
      &>.date-picker-screen:last-of-type {
        visibility: hidden;
        transition: visibility 0s 0.5s;
        display: flex;
        align-items: flex-start;
      }
    }
  }
}