@use "Styles/Variables";

.scrum-column {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  min-height: 100vh;
  padding: 3.25em 1em 1em;
  row-gap: 1em;
  background-color: var(--tile-background);
  &>.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 0;
    font-weight: 400;
    border: none;
    outline: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: var(--background-dark);
    font-size: 1em;
    transition-duration: 0.3s;
    &:focus-visible,
    &:hover {
      border-bottom: 2px solid var(--theme-mid);
      &>span {
        @include Variables.gradientText;
      }
    }
  }
}