@use "Styles/Variables";

.property-link {
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  min-height: calc(100px + 2em);
  column-gap: 1em;
  animation: show 0.5s;
  background-color: var(--tile-background);
  border-radius: 0.35em;
  box-shadow: var(--shadow-level-2-mid);
  @media(min-width: Variables.$small-vertical-tablet) {
    width: calc(50% - 0.75em);
    flex-direction: column;
    column-gap: 0;
    row-gap: 0.75em;
  }
  @media(min-width: 1350px) {
    width: calc(33.333% - 1em);
  }
  &>.pl-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &>h3 {
      color: var(--text-color);
      margin-bottom: 0.25em;
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 700;
    }
    &>address {
      font-size: 0.95em;
      font-style: normal;
      &>p {
        color: var(--text-color-light);
      }
    }
    &>div {
      margin-top: 0.75em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 0.5em;
      @media (min-width: Variables.$small-vertical-tablet) {
        column-gap: 1em;
      }
      &>.property-link-to {
        &>div.text-cover > svg {
          margin-left: 0.25em;
          stroke: url(#themeGradient);
        }
        &.to-manage > div.text-cover > svg {
          width: 1.5em;
          height: 1.5em;
          margin-left: 0.5em;
        }
        &.to-configure > div.text-cover > svg {
          width: 1.5em;
          height: 1.5em;
          & path,
          & circle {
            stroke-width: 2px;
          }
        }
      }
    }
  }
}