@use "Styles/Variables";

.gradient-button {
  padding: 0.5em 1.5em;
  border-radius: 3em;
  color: #fff;
  border: none;
  font-size: 1em;
  font-weight: 600;
  position: relative;
  box-shadow: var(--shadow-level-1-mid);
  @include Variables.themeGradient;
  @include Variables.center;
}