@use "Styles/Variables";

.blob-with-text {
  position: absolute;
  width: 70vh;
  top: -35vh;
  left: -20vh;
  @media (min-width: 670px) {
    width: 110vh;
    top: -60vh;
    left: -40vh;
  }
  @media (min-width: 1500px) {
    left: -10vh;
  } 
  &> svg > path {
    fill: url(#blobWithText);
  }
  &>svg {
    height: 100%;
    width: 100%;
  }
  &>div {
    position: absolute;
    top: 8.5vh;
    left: 1.5vh;
    height: 100%;
    width: 100%;
    @include Variables.center;
    text-align: center;
    @media (min-width: 670px) {
      top: 16vh;
      left: 3.5vh;
    } 
    @media (min-width: 1500px) {
      left: 1.5vh;
    } 
    &>h1 {
      font-size: 6vh;
      color: #fff;
    }
  }
}