@use "Styles/Variables";

.scroll-link {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 1.25em;
  position: relative;
  top: -0.05em;
  border-radius: 0.1em;
  transition-duration: 0.3s;
  text-transform: capitalize;
  text-shadow: 0px 1.5px 5px rgba(#000, 0.5), 0px 0px 7.5px rgba(#000, 0.25);
  &:visited {
    color: #fff;
  }
  &.active {
    color: Variables.$teal;
    text-shadow: 0px 1.5px 5px rgba(#000, 0.5);
  }
}