.dummy-task {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  border: 2px solid var(--create-maintenance-task-border);
  background-color: transparent;
  color: var(--create-maintenance-task-text-color);
}