
@use "Styles/Variables";

.page {
  width: 100%;
  min-height: 100vh;
  animation: show 0.5s forwards;
  &.fade {
    animation: hide 0.5s forwards;
  }
  &>.title-area {
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: Variables.$small-vertical-tablet) {
      justify-content: flex-start;
    }
    @media (min-width: Variables.$small-desktop) {
      margin-bottom: 2em;
      justify-content: flex-start;
    }
    &>h1 {
      font-weight: 500;
      font-size: 1.5em;
      @media (min-width: Variables.$small-vertical-tablet) {
        font-size: 1.75em;
      }
    }
    &>div {
      margin-left: 1em;
      position: relative;
      &>div {
        position: absolute;
        white-space: nowrap;
        top: -50%;
        left: -50%;
        translate: -100% -50%;
        @media (min-width: Variables.$small-vertical-tablet) {
          translate: 0 -50%;
        }
      }
    }
  }
}