@use "Styles/Variables";

.forms > form.name-and-location {
  &>.input > .input-positioner > button > svg {
    &.location-icon {
      top: 12.5%;
      left: 5%;
      height: 75%;
      width: 75%;
    }
    &.city-icon {
      top: 12.5%;
      left: 5%;
      height: 75%;
      width: 75%;
      & path {
        stroke-width: 1.75;
      }
    }
  }
  &.disabled {
    &>.loading-action {
      box-shadow: none;
      pointer-events: none;
      &>div:not(.triangle-loader) {
        border-radius: inherit;
        background-color: var(--background-dark);
        color: var(--text-color-light);
      }
    }
  }
  &>.loading-action {
    &>div:not(.triangle-loader) {
      height: 100%;
      width: 100%;
      @include Variables.center;
      background-color: transparent;
      transition: color 0.3s, background-color 0.3s;
    }
    &.loading > div:not(.triangle-loader) {
      transition: inherit;
    }
  }
}