@use "Styles/Variables";

.space-image-grid {
  margin-bottom: -0.5em;
  margin-top: -1em;
  padding: 1em var(--tile-padding) 0.5em var(--tile-padding);
  min-width: calc(100% + (var(--tile-padding) * 2));
  position: relative;
  left: calc(var(--tile-padding) * -1);
  overflow-x: scroll;
  display: grid;
  grid-auto-columns: calc(50% - (var(--tile-padding) / 2));
  grid-auto-flow: column;
  gap: var(--tile-padding);
  @media (min-width: Variables.$small-vertical-tablet) {
    grid-auto-columns: calc(33.3333% - (var(--tile-padding) * 0.66666));
  }
  @media (min-width: 1200px) {
    grid-auto-columns: calc(25% - (var(--tile-padding) * 0.75));
  }
  @media (min-width: 1400px) {
    grid-auto-columns: calc(20% - var(--tile-padding) * 0.8);
  }
  @media (min-width: 1550px) {
    grid-auto-columns: calc(16.6666% - var(--tile-padding) * 0.8333333);
  }
}

