@use "Styles/Variables";

.page.organization .tile.staff-tile {
  flex-direction: column;
  row-gap: 1em;
  &>h2 > svg {
    margin-right: 0.1em;
  }
  &>p > a {
    font-weight: 500;
    position: relative;
    display: inline-flex;
    @include Variables.gradientText(bottom);
    &::after {
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 0.1em;
      position: absolute;
      background-color: var(--theme-dark);
    }
  }
  &>.invite-staff-member {
    max-width: 400px;
    margin: auto;
    @media (min-width: 957px) {
      margin: 0;
    }
  }
}