@use "Styles/Variables";

.fc {
  --fc-today-bg-color: transparent;
  & .fc-header-toolbar {
    display: none;
  }
  & table {
    border: none;
  }
  & .fc-scroller-harness {
    overflow: visible;
  }
  & .fc-scrollgrid-section > td[role="presentation"] {
    border: none;
  }
  & .fc-view-harness {
    & .fc-scrollgrid {
      border: none;
      &>thead {
        display: none;
      }
      &>tbody {
        &>tr {
          &:first-of-type {
            display: none;
          }
          &:nth-of-type(2) {
            display: none;
          }
        }
        & .fc-timegrid-slot {
          background-color: transparent;
          border: none;
          &.fc-timegrid-slot-label {
            border-bottom: none;
          }
          & .fc-timegrid-slot-label-frame {
            text-align: left;
          }
        }
        & .fc-timegrid-slot-label-cushion {
          color: var(--text-color);
          font-size: 0.9em;
          translate: 0 -1em;
          padding: 0 0.5em;
          background: var(--tile-background);
        }
      }
    }
  }
  & .fc-timegrid-slots {
    &>table {
      border-top: 1px solid transparent;
      & tr {
        &:nth-of-type(odd){
          border-top: 1px solid var(--background-dark);
        }
      }
    }
  }
  & .fc-event:focus::after {
    display: none;
  }
  & .fc-v-event {
    cursor: pointer;
    background-color: var(--event-background);
    box-shadow: 0px 2.5px 5px rgba(#000, 0.2);
    border: 1px solid #fff;
    transition: background-color 0.25s;
    &:hover {
      background-color: var(--event-background-highlight);
    }
    & .fc-event-main {
      padding: 0.25em;
      @media (min-width: 670px) {
        padding: 0.5em;
      }
      & .fc-event-time, 
      & .fc-event-title {
        color: #fff;
      }
      & .fc-event-time {
        font-weight: 700;
        font-size: 0.9em;
      }
      & .fc-event-title {
        font-size: 1.1em;
        font-weight: 400;
      }
    }
  }
}

.fc-theme-standard td {
  border: 1px solid var(--tile-background);
}