@use "Styles/Variables";

.mobile-menu.core-mobile-menu {
  background: var(--nav-bar-background);
  max-height: 100vh;
  overflow-y: scroll;
  display: block;
  max-height: calc(100svh - (69px + 20px));
  @media (min-width: Variables.$large-vertical-tablet) {
    max-height: calc(100svh - (86px + 20px));
  }
  @media (min-width: Variables.$small-desktop) {
    display: none;
  }
}