.reservation-filter-inputs {
  &>label.dropdown {
    margin-bottom: 1.5em;
  }
  &>label.dropdown svg.basketball-court-filled {
    margin-top: 0.05em;
    margin-left: 0.6em;
    &:first-of-type {
      stroke: none;
      fill: none;
      &>path {
        fill: var(--text-color-light);
      }
    }
    &:last-of-type {
      stroke: none;
      fill: none;
      &>path {
        fill: url(#themeGradient);
      }
    }
    &>g > path {
      fill: var(--tile-background);
    }
  }
}