@use "Styles/Variables";

.marketing-nav {
  &>a:last-of-type {
    color: #fff;
    @include Variables.brandGradient;
    border-radius: 0.25em;
    padding: 0.4em 1em;
    text-transform: uppercase;
    font-size: 1.15em;
    text-decoration: none;
    box-shadow: 0em 0.1em 0.5em rgba(#000, 0.2), 0em 0em 0.25em rgb(from Variables.$teal-text r g b / 75%);
  }
}