.file-uploader {
  position: relative;
  padding: 0.25em;
  border-radius: 0.25em;
  transition: all 0.3s;
  &:has(:focus-visible) {
    outline: 2px solid var(--theme-mid);
  }
  &:has(>input[type="file"]:disabled) {
    opacity: 0.25;
  }
  &>input[type="file"] {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    &::file-selector-button {
      display: none;
    }
    &:disabled {
      cursor: auto;
    }
  }
}