@use "Styles/Variables";

.expense.dummy {
  @include Variables.center;
  gap: 0.5em;
  flex-direction: column;
  &>svg {
    width: 3em;
    height: 3em;
    fill: url(#infoGradient);
  }
  &>span {
    font-size: 0.9em;
  }
}