@use "Styles/Variables";

.stats-tile {
  &>div {
    &> h2 {
      font-size: 1.3em;
      margin-bottom: 0.15em;
      @media (min-width: Variables.$small-vertical-tablet) {
        font-size: 1.5em;
      }
    }
  }
}