@use "Styles/Variables";

.confirmation-sheet.reservation-configurer > .sheet > .sheet-scroll-view > .sheet-content {
  & h2 {
    margin-bottom: 1.5em;
  }
  & p {
    margin-bottom: 0;
  }
  & .cost {
    &>div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &>h3 {
        margin-right: 0.5em;
      }
      &>p {
        width: auto;
        margin: 0;
        @include Variables.gradientText;
      }
    }
    &>p {
      text-align: left;
      margin-top: 0.5em;
      margin-bottom: 0;
      &>span {
        @include Variables.gradientText;
      }
    }
  }
  & form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    & label.dropdown > .input-positioner > button > svg.basketball-court-filled {
      margin-top: 0.05em;
      margin-left: 0.6em;
      &:first-of-type {
        stroke: none;
        fill: none;
        &>path {
          fill: var(--text-color-light);
        }
      }
      &:last-of-type {
        stroke: none;
        fill: none;
        &>path {
          fill: url(#themeGradient);
        }
      }
      &>g > path {
        fill: var(--tile-background);
      }
    }
    & .input-split {
      width: 100%;
      @include Variables.center;
      column-gap: 1em;
      &>label {
        width: calc(50% - 0.5em);
      }
    }
    &>.submit-actions {
      width: 100%;
      @include Variables.center;
      flex-direction: column;
      gap: 1.5em;
      @media (min-width: 390px) {
        flex-direction: row;
        gap: 0.75em;
        font-size: 0.9em;
      }
      @media (min-width: 430px) {
        font-size: 1em;
      }
      @media (min-width: Variables.$small-vertical-tablet) {
        gap: 1em;
      }
      &>div {
        width: 100%;
        margin: 0 auto;
      }
      &:has(>div>.loading-action.cancel) > div {
        @media (min-width: 390px) {
          width: calc(50% - 0.375em);
        }
        @media (min-width: Variables.$small-vertical-tablet) {
          width: calc(50% - 0.5em);
        }
        &>.loading-action {
          &.loading {
            width: 55px;
          }
          &.cancel {
            @include Variables.errorGradient;
            &.loading {
              transition: color 0.15s 0s, width 0.5s 0.1s;
            }
          }
        }
      }
    }
  }
}