@use "Styles/Variables";

.cloudinary-image-interface > .file-uploader {
  height: 100%;
  width: 100%;
  cursor: pointer;
  &>input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    appearance: none;
    cursor: inherit;
    &::file-selector-button {
      display: none;
    }
  }
  &>div {
    height: 100%;
    width: 100%;
    gap: 1em;
    pointer-events: none;
    @include Variables.center;
    flex-direction: column;
    &>div {
      height: 50%;
      @include Variables.center;
      &>.image-placeholder {
        height: 100%;
        width: auto;
        opacity: 0;
        animation: show 0.5s forwards;
        & > g > g {
          fill: var(--tile-background);
        }
      }
      &>.fading-loader {
        scale: 1.25;
        padding: 1em;
        border-radius: 0.5em;
        background-color: rgba(var(--background-dark), 0.25);
        backdrop-filter: blur(2.5px);
        @media (min-width: 1200px) {
          scale: 1.5;
        }
      }
    }
    &>p {
      width: 100%;
      line-height: 1;
      text-align: center;
      margin-bottom: -0.25em;
      opacity: 0;
      animation: show 0.5s forwards;
    }
  }
}