@use "Styles/Variables";

.progress-circle {
  width: 50px;
  height: 50px;
  position: relative;
  &>svg {
    width: 100%;
    height: 100%;
    rotate: -90deg;
    overflow: visible;
    &>circle {
      fill: transparent;
      stroke-linecap: round;
      &:first-of-type {
        stroke-width: 3;
        stroke: var(--background);
      }
      &:last-of-type {
        stroke-width: 6;
        stroke: url(#themeGradient);
        stroke-dasharray: 314;
      }
    }
  }
  &>.content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    @include Variables.center;
  }
}